body {
    background: url("images/b_body.jpg") no-repeat;
    margin: 0;
    font-family: cursive;
}

.wrapper {
    background: url("images/b_coffee.jpg") no-repeat;
    width: 1158px;
    margin-left: 100px;
    padding-left: 110px;
}

nav > a {
    margin-left: 30px;
}

.content {
    width: 915px;
    height: 1004px;
}

.logo {
    width: 100%;
    padding-left: 42px;
    padding-top: 13px;
    height: 133px;
}

.thumb {
    width: 100%;
    height: 303px;
    border: black dashed 1px;
}

.thumb > img {
    padding-left: 11px;
    padding-top: 21px;
}

.arrow {
    margin-bottom: 115px;
}

.info {
    display: inline-block;
    width: 100%;
    height: 350px;
}

.info > div {
    width: 305px;
    height: 430px;
    display: inline-block;
    position: absolute;
    justify-content: center;
    margin-top: 30px;
    padding-left: 30px;
}

.info > div > img {
    display: inline-block;
}

.vision {
    margin-left: 305px;
    padding-left: 50px;
}

.vision > img {
    margin-right: 10px;
}

.news {
    margin-left: 610px;
}

.green {
    font-weight: bold;
    color: #61a66f;
    text-decoration: underline;
}

.date {
    font-weight: bold;
    border: black dashed 1px;
    display: inline;
    color: #61a66f;
}

footer {
    position: absolute;
    background: url("images/b_body2.jpg") no-repeat;
    width: 1168px;
    padding-left: 200px;
    top: 1000px;
}

.b_content {
    position: absolute;
    bottom: 100px;
    display: inline-block;
}

.link_wrapper {
    padding-left: 30px;
    display: inline-block;
}

.link_wrapper > a {
    color: #53666c;
    padding-right: 10px;
    margin-right: 10px;
}

.link_wrapper > p {
    width: 100%;
    color: #938964;
}

.icon {
    position: inherit;
    right: 0;
}

.link {
    border-right: #53666c solid 2px;
}

.icon_wrapper {
    display: inline-block;
    position: absolute;
    left: 830px;
    top: -20px;
}

.icon {
    position: relative;
    display: inline-block;
}

.img_about_me {
    border: black dashed 1px;
}

.h_about_me {
    position: absolute;
    top: 260px;
    padding-left: 40px;
}

.about_me {
    border-top: black dashed 1px;
    padding-top: 20px;
}

.about_me > .text {
    position: absolute;
    top: 300px;
    left: 515px;
}

.about_me > .text > p {
    position: relative;
}

.education {
    position: absolute;
    padding-top: 60px;
}

.education > p {
    padding-top: 13px;
}

.exp {
    position: absolute;
    padding-top: 60px;
    padding-left: 300px;
}

.span1 {
    padding-top: 25px;
    display: inline-block;
}

.span2 {
    padding-top: 25px;
    padding-left: 150px;
    display: inline-block;
}

.container {
    border-top: black dashed 1px;
}

.folio {
    margin-top: 20px;
    border-right: black dashed 1px;
    width: 300px;
    height: 690px;
}

.folio > span {
    font-weight: bold;
}

.folio > p {
    padding-left: 40px;
}

.art_gallery > img {
    padding-top: 10px;
}

.orange_btn {
    background: url("images/gallery_btn_over.png");
    color: white;
    width: 22px;
    height: 23px;
    border: black dashed 1px;
    margin-left: 60px;
}

.yellow_btn {
    background: url("images/gallery_btn.png");
    width: 22px;
    height: 23px;
    border: black dashed 1px;
    margin-left: 20px;
}

.art_gallery {
    position: absolute;
    top: 310px;
    left: 530px;
}

.h_art_gallery {
    top: -60px;
    position: absolute;
}

.services {
    padding-top: 10px;
    border-top: black dashed 1px;
}

.block {
    margin-top: 40px;
}

.img_services {
    position: absolute;
    top: 280px;
    left: 820px;
}

.branding {
    position: absolute;
    top: 556px;
    left: 530px;
}

.web_design {
    position: absolute;
    top: 556px;
    left: 810px;
}

.contact_me {
    border-top: black dashed 1px;
    padding-top: 20px;
}

.contact_me > span {
    color: #61a66f;
    font-size: 40px;
}

.phone {
    font-weight: bold;
    color: #d9882c;
}

.img_contact_me {
    position: absolute;
    top: 265px;
    left: 850px;
}

.drop_me > input, textarea {
    background: rgba(179, 173, 146, 0.3);
    border: black dashed 1px;
}

.drop_me > input {
    width: 270px;
    height: 40px;
    margin-bottom: 30px;
}

.name, .email {
    margin-right: 30px;
}

textarea {
    width: 890px;
    height: 150px;
}

.drop_me {
    margin-top: 50px;
}

.send {
    margin-left: 600px;
    margin-top: 20px;
}

.nav_home img {
    object-fit: cover;
}

.nav_home img:nth-of-type(2) {
    display: none;
}

.nav_home:hover img:nth-of-type(1) {
    display: none;
}

.nav_home:hover img:nth-of-type(2) {
    display: inline-block;
}

.nav_about img {
    object-fit: cover;
}

.nav_about img:nth-of-type(2) {
    display: none;
}

.nav_about:hover img:nth-of-type(1) {
    display: none;
}

.nav_about:hover img:nth-of-type(2) {
    display: inline-block;
}

.nav_services img {
    object-fit: cover;
}

.nav_services img:nth-of-type(2) {
    display: none;
}

.nav_services:hover img:nth-of-type(1) {
    display: none;
}

.nav_services:hover img:nth-of-type(2) {
    display: inline-block;
}

.nav_contact img {
    object-fit: cover;
}

.nav_contact img:nth-of-type(2) {
    display: none;
}

.nav_contact:hover img:nth-of-type(1) {
    display: none;
}

.nav_contact:hover img:nth-of-type(2) {
    display: inline-block;
}

.nav_portfolio img {
    object-fit: cover;
}

.nav_portfolio img:nth-of-type(2) {
    display: none;
}

.nav_portfolio:hover img:nth-of-type(1) {
    display: none;
}

.nav_portfolio:hover img:nth-of-type(2) {
    display: inline-block;
}
